<!Doctype <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/stylesheets/app.css" type="text/css">
    <link rel="stylesheet" href="/public/stylesheets/lib.css" type="text/css">
    <link rel="stylesheet" href="../../public/stylesheets/normalize.css" type="text/css">
     <title>This is a test project</title>

  </head> 
    <body>
      <header>
          <h1>Finstagram - </h1>
 
        <nav>
          <ul>
            <li><a href="index.html">Home</li>        
            <li><a href="About.html">About</li>
            <li><a href="Contact.html">Contact</li>
          </ul>
        </nav>
      </header>
      
      
      
      <main role="main">
        <article class="post">
          <div class="user-info">
            <img src="https://i.ytimg.com/vi/a6KGPBflhiM/hqdefault.jpg" alt="Buddy">
            <h2>Buddy</h2>
            <h3>15 minutes ago</h3>
          </div>
          <a class="photo" href="https://vetstreet.brightspotcdn.com/dims4/default/b466b8e/2147483647/crop/0x0%2B0%2B0/resize/645x380/quality/90/?url=https%3A%2F%2Fvetstreet-brightspot.s3.amazonaws.com%2Ffa%2Fd15000a0d311e0a2380050568d634f%2Ffile%2FGolden-Retriever-3-645mk062111.jpg">
            <img src="https://vetstreet.brightspotcdn.com/dims4/default/b466b8e/2147483647/crop/0x0%2B0%2B0/resize/645x380/quality/90/?url=https%3A%2F%2Fvetstreet-brightspot.s3.amazonaws.com%2Ffa%2Fd15000a0d311e0a2380050568d634f%2Ffile%2FGolden-Retriever-3-645mk062111.jpg">
          </a>
          <div class="actions">
            0 likes
            <span class="comment-count">0 comments</span>
          </div>
          
          <ul class="comments">
            <li>
              <p>
                Buddy: Enjoying Saturday morning... Prolly gonna chase cat in the afternoon~~
              </p>
            </li>
          </ul>
        </article>
        
        
        <article class="post">
          <div class="user-info">
            <img src="https://s-media-cache-ak0.pinimg.com/736x/48/ee/e5/48eee5bc81df330af30a988ee9a1d017.jpg">
            <h2>Ferdinand</h2>
            <h3>1 hour ago</h3>
          </div>
          <a class="photo" href="http://cdn3-www.dogtime.com/assets/uploads/gallery/german-shepherd-dog-breed-pictures/laying-1.jpg">
            <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/german-shepherd-dog-breed-pictures/laying-1.jpg" alt="german sheperd">
          </a>
          <div class="actions">
            0 likes
            <span class="comment-count">0 comments</span>
          </div>
          <ul class="comments">
            <li>
              <p>
                Ferdinand: so warm out here ~~
              </p>
            </li>
          </ul>
        </article>
        
        
        <article class="post">
          <div class="user-info">
            <img src="http://cal.vet.upenn.edu/projects/anestecg/images/Animalpics/corgi.GIF">
            <h2>Jessica</h2>
            <h3>1 hour ago</h3>
          </div>
          <a class="photo" href="https://pics.me.me/doggo-exe-has-failed-to-load-4823914.png">
            <img src="https://pics.me.me/doggo-exe-has-failed-to-load-4823914.png" alt="doogo fail">
          </a>
          <div class="actions">
            0 likes
            <span class="comment-count">0 comments</span>
          </div>
          <ul class="comments">
            <li>
              <p>
                Jessica: solid face plant after 12 hour shift
              </p>
            </li>
          </ul>
        </article>
      </main>

      <footer>
        <a href="http://facebook.com/ferdinand.christian.1">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-256.png">
        </a>
        <p>2017 Ferdinand Widjojo Putra</p>
      </footer>
    </body>    
</html>